<!DOCTYPE html>
<html lang="en">
<head>
  
  
         <link rel="icon" href="https://boboworld.xyz/img/logo.jpg" type="image/x-icon" />
        <link rel="shortcut icon" href="https://boboworld.xyz/img/logo.jpg" type="image/x-icon">
       <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "Website",
        "url": "https://boboworld.xyz/"
        }
        </script>
   
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="og:description" content="Moderation, logs, economy, funny, ranking, levelling, welcomer">
    <meta name="keywords" content="Discord Bot,Bobo bot">
    <meta name="author" content="Lord Developer">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="twitter:image" content="https://boboworld.xyz/img/logo.jpg">
  <link rel="canoical" href="https://boboworld.xyz">
   
  
       <meta name="googlebot" content="index">
        <meta name="googlebot-news" content="snippet">
<%- include('./links.ejs')%>
  <!--<meta name="theme-color" content=""
        
  -->
</head>
<body>
<main><!--
  <div id="preloader">
    <div class="container">
  <div class="lds-facebook">
  
    <div></div>
    <div></div>
    <div>
    </div>
      </div>
    
  </div></div>
<script>
  

var loader = document.getElementById("preloader");
window.addEventListener("load", function () {
setTimeout(()=>{
    loader.style.display = "none";
},2000)
});
  </script>--->
  